.home {
	padding-bottom: 10px;
	min-height: 100%;
	width: 100%;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../../assets/icons/favicon-32x32.png') bottom right 15% no-repeat #46B6AC;
}
